.character {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  z-index: 10; /* Lower z-index to place bunnies below the player */
  animation: bunnyRun 2.4s steps(4) infinite; /* Animation for running */
  background: url("./gabe-idle-run.png") no-repeat;
 /* background-size: 192px 32px; /* Adjust size to fit the sprite sheet */
}

@keyframes bunnyRun {
  to {
    background-position: 0; /* Start at the first frame */
  }
  from {
 /*   background-position: calc(4 * -32px); /* Move to the last frame (8 frames * 32px) */
  }
}
